<div class="signin-content">
    <mat-card>
        <mat-card-content>
            <h2>Login Page</h2>
            <div class="example-container">
                <mat-form-field class="full-width-input">
                    <input matInput placeholder="Login" [(ngModel)]="username">
                </mat-form-field>
            </div>
            <div>
                <mat-form-field class="full-width-input">
                    <input matInput placeholder="Password" [(ngModel)]="password" [type]="hide ? 'password' : 'text'">
                    <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
                </mat-form-field>
            </div>
            <div>
                <button mat-raised-button (click)="login(username,password)" color="primary">Login</button>
                <button style="margin-left: 15px" mat-raised-button (click)="goToRestorePass()" color="primary">Forget
                    Password
                </button>
            </div>
        </mat-card-content>
    </mat-card>
</div>