<div class="col-md-6">
    <h2 class="text-center">Registration</h2>
    <div>
        <mat-form-field class="example-form-field">
            <input matInput type="text" placeholder="Name" [(ngModel)]="user.name">
            <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>
    </div>
    <div>
        <mat-form-field class="example-form-field">
            <input matInput type="text" placeholder="Surname" [(ngModel)]="user.surname">
            <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>
    </div>
    <div>
        <mat-form-field class="example-form-field">
            <input matInput type="text" placeholder="e-mail" [(ngModel)]="user.email">
            <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>
    </div>
    <div>
        <mat-form-field>
            <input matInput [matDatepicker]="picker" placeholder="Birth Day" [(ngModel)]="selDate">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
    </div>
    <div>
        <mat-form-field>
            <mat-select placeholder="Male" [(ngModel)]="user.male" name="Male">
                <mat-option *ngFor="let element of males" [value]="element">
                    {{ element }}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div>
        <mat-form-field>
            <input matInput placeholder="Login" [(ngModel)]="user.username">
        </mat-form-field>
    </div>
    <button mat-raised-button (click)="editUser()" color="primary">Edit</button>
    <button style="margin-left: 15px" mat-raised-button (click)="goToChangePassword()" color="primary">Change Password
    </button>
</div>
