<div class="col-md-6">
  <h2> Authors </h2>

  <table class="table table-striped">
    <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Bio</th>
      <th>BirthDay</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let author of authors">
      <td>{{author.id}}</td>
      <td>{{author.name}}</td>
      <td>{{author.bio}}</td>
      <td>{{author.birthDay}}</td>
      <td><button class="btn btn-danger" (click)="deleteAuthor(author)"> Delete Author</button></td>
    </tr>
    </tbody>
  </table>
</div>
