<div class="col-md-6">
    <h2 class="text-center">Add Author</h2>

    <div>
        <mat-form-field class="example-form-field">
            <input matInput type="text" placeholder="Name" [(ngModel)]="author.name"/>
            <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>
    </div>
    <div>
        <mat-form-field class="example-form-field">
            <textarea matInput type="text" placeholder="Bio" [(ngModel)]="author.bio"></textarea>
            <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>
    </div>
    <div>
        <mat-form-field>
            <input matInput [matDatepicker]="picker" placeholder="Birth Day" [(ngModel)]="selDate">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
    </div>
    <div>
        <button mat-raised-button (click)="addAuthor()" color="primary">Add Author</button>
    </div>

</div>
