<div class="col-md-6">
  <h2> User Details</h2>

  <table class="table table-striped">
    <thead>
    <tr>
      <th class="hidden">Id</th>
      <th>Name</th>
      <th>Description</th>
      <th>Price</th>
      <th>PublishDate</th>
      <!--<th>Action</th>-->
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let book of books">
      <td class="hidden"></td>
      <td>{{book.name}}</td>
      <td>{{book.description}}</td>
      <td>{{book.price}}</td>
      <td>{{book.publishDate}}</td>
      <!--<td><button class="btn btn-danger" (click)="deleteUser(user)"> Delete User</button></td>-->
    </tr>
    </tbody>
  </table>
</div>
