<div class="container-fluid">
    <div class="col-md-offset-1">
        <h1 align="center" colour="primary">
            Welcome to Book-service !
        </h1>
    </div>
    <div>
        <a mat-raised-button routerLink="/books" color="primary">Show Books</a>
        <a mat-raised-button routerLink="/publishers" color="primary">Show Publishers</a>
        <a mat-raised-button routerLink="/authors" color="primary">Show Authors</a>
        <a mat-raised-button routerLink="/import" color="primary">Import</a>
    </div>
    <div>
        <a mat-raised-button routerLink="/publisher" color="primary">Add Publisher</a>
        <a mat-raised-button routerLink="/author" color="primary">Add Author</a>
        <a mat-raised-button routerLink="/book" color="primary">Add Book</a>
    </div>
    <div>
        <a mat-raised-button routerLink="/login" color="primary">Login</a>
        <a mat-raised-button routerLink="/logout" color="primary">Logout</a>
        <a mat-raised-button routerLink="/registration" color="primary">Registration</a>
        <a mat-raised-button routerLink="/edit" color="primary">Edit Profile</a>
    </div>
    <div>
        <a mat-raised-button routerLink="/cart" color="primary">Cart</a>
    </div>
    <router-outlet></router-outlet>
</div>